/* Global Stlyes */
html, body {
    height: 100%;
    font-family: Roboto, sans-serif;
    background-image: url("jumbotron-image.jpg");
    background-size: cover;
    overflow: hidden;
    color: white;
}
a {
    color: yellow;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* Header Syles */
header {
    height: 10%;
    display: flex;
    border: solid red 1px;
}

header .row {
    justify-content: flex-start;
    border: solid white 1px;
}

/* Jumbotron Styles */

.jumbotron {
    background-color: black;
    height: 80%;
    border: solid coral 2px;
}

#job, #projects, #contact {
    display: flex;
    justify-content: center;
}

#job {
    height: 10%;
    padding: 0;
    margin: 0;
}

#projects {
    height: 10%;
    padding: 0;
    margin: 0;
    border: solid pink 1px;
}

#contact {
    height: 80%;
    width: 100%;
    margin-top: 5%;
    justify-content: space-between;
    border: solid green 2px;
}
/* Footer Styles */
footer {
    height: 10%;
}