body{
    font-family: Roboto, sans-serif;
    background-image: url("jumbotron-image.jpg");
    background-size: cover;
    color: white;
}

header {
    padding: 20px 0;
    border: solid black 2px;
}

header a{
    color: yellow;
}
header .row, footer .row{
    display:flex;
    align-items: center;
}

h1 {
    font-weight: 700;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    font-size: 30px;
    border: solid red 2px;
}

.jumbotron a {
    padding: 0 20px;
    margin: 0;
    color: yellow;
}

.jumbotron {
    color: yellow;
    height: 400px;
    background-color: transparent; 
    border: solid black 2px;
}

.jumbotron .container {
    align-items: center;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
}

footer {
    font-size: 12px;
    padding: 20px 0;
    border: solid red 2px;
}

footer .col-sm-4 {
    display: flex;
}

.container {
    border: solid yellow 2px;
}

.row {
    border: solid pink 2px;
}