/* Global Stlyes */
html {
    font-family: Roboto, sans-serif;
    background-image: url("jumbotron-image.jpg");
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background: transparent;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
}

a, a:link, a:visited {
    color: #3498db;
    text-decoration: none;
}

.container {
    height: 100vh;
    border: solid white 1px;
}

/* Header Syles */
header {
    margin: 1%;
    border: black solid 1px;
}

/* Content Styles */

.content {
    background-color: transparent;
    height: 80%;
    grid-template: 10% 10% 40%;
    text-align: center;
    border: violet solid 1px;
}

.btn {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #95a5a6;
    overflow: hidden;
    position: relative;
}

/* Footer Styles */